streamlit
langchain
langchain-google-genai   # optional if using Gemini
langchain-huggingface    # if using Hugging Face LLM
faiss-cpu
orjson
pydantic
langchain-community
huggingface-hub
python-dotenv
sentence-transformers


